/*====CONFIGURACIÓN DE COLORES=====*/
:root {
    /*Paleta*/
    --color-institucional: #770000;
    --color-institucional-hover: #b30000;
    --color-texto-parrafo: #444444;
    --color-blanco: #ffffff;
    --color-sombra: rgba(0, 0, 0, 0.25);
    --color-sombra-suave: rgba(0, 0, 0, 0.1);
    --colo-gris-suave: #f0f2f5; 
    --altura-carrusel: 500px; 
}

/*====ESTILOS DE EL INICIO====*/
body{
    background-color: var(--colo-gris-suave);
}
p {
    text-align: justify;
}
/*==== CONTENEDOR PRINCIPAL ====*/
.contenedor-inicio {
    display: block;
    width: 90%;          
    max-width: 1100px;   
    margin: 0 auto;
    padding: 20px 0;
}
/*Noticial*/
.noticia {
    text-align: center; 
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/*====CAROUSEL====*/

.carousel {
    width: 90%;
    position: relative;
    overflow: hidden;
    border-radius: 15px; 
    box-shadow: 0 10px 30px var(--color-sombra-suave);
}

.carousel-inner {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.carousel .noticia {
    min-width: 100%;
    border-bottom: none;
    margin-bottom: 0;
}

/*====ELEMENTOS VISUALES====*/

/* Imagenes */
img {
    transition: transform 0.3s ease;
}

.carousel .imgnot {
    width: 100%;
    height: var(--altura-carrusel);
    object-fit: cover;
    border-radius: 15px 15px 0 0; 
    display: block;
}

img:hover {
   transform: scale(1.02); 
   box-shadow: 0 8px 20px var(--color-sombra);
}

/* Textos */
.noticia h2 {
    color: var(--color-institucional);
    font-size: 28px; 
    margin-top: 15px;
    margin-bottom: 10px;
}

.noticia p {
    font-size: 16px; 
    color: var(--color-texto-parrafo);
    max-width: 800px; 
    margin: 0 auto 15px;
    text-align: center;
}

.noticia a {
    display: inline-block;
    padding: 8px 20px;
    background-color: var(--color-institucional);
    color: var(--color-blanco) !important;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 15px;
}

.noticia a:hover {
    background-color: var(--color-institucional-hover);
    transform: scale(1.05);
}