:root {
    --vino-70: #630e16;      
    --crema-20: #f5f5dc;     
    --blanco-10: #ffffff;   
    --vino-obscuro: #4a0a10;
 }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vino-70);
    background-image: linear-gradient(135deg, var(--vino-70) 0%, var(--vino-obscuro) 100%);
}
.login-card {
    width: 100%;
    max-width: 400px;
    background-color: var(--crema-20);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    text-align: center;
    border: 2px solid var(--blanco-10);
}

.logo-placeholder {
    width: 120px;
    height: 120px;
    background-color: var(--blanco-10);
    margin: 0 auto 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--vino-70);
    overflow: hidden;
}

/* logo */
.logo-placeholder img {
    max-width: 80%;
    height: auto;
}
h2 {
    color: var(--vino-70);
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}
.input-group label {
    display: block;
    color: var(--vino-70);
    font-weight: 600;
    font-size: 0.85rem;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    outline: none;
    transition: all 0.3s;
}

.input-group input:focus {
    border-color: var(--vino-70);
    box-shadow: 0 0 5px rgba(99, 14, 22, 0.2);
}

       
.btn-login {
    width: 100%;
    padding: 14px;
    background-color: var(--vino-70);
    color: var(--blanco-10);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-login:hover {
background-color: var(--vino-obscuro);
transform: translateY(-2px);
        }

.links {
    margin-top: 20px;
}

.links a {
    color: var(--vino-70);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
}

.links a:hover {
    text-decoration: underline;
}
header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.link-atras {
    text-decoration: none;
    color: var(--blanco-10);
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.link-atras:hover {
    opacity: 1;
}

.link-atras .arrow {
    font-size: 1.2rem;
}