/* ===== HEADER ===== */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 3px solid #770000;
    background-color: #ffffff;
}

/* Contenedor logo y título */
.cont{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Logo */
.logo{
    width: 80px;
    height: auto;
}

/* Título */
.titulo{
    font-size: 36px;
    color: #770000;
    margin: 0;
}

.titulo a{
    text-decoration: none;
    color: #770000;
}

/* ===== MENÚ ===== */
.menu{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}

/* Enlaces del menú */
.menu a{
    text-decoration: none;
    color: #770000;
    font-weight: 500;
    position: relative;
}

/* Hover*/
.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #b30000;
    transition: width 0.3s ease;
}

.menu a:hover::after{
    width: 100%;
}

/* Icono usuario */
.menu img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* ===== DROPDOWN ===== */
.dropdown{
    position: relative;
}

.dropbtn{
    background: none;
    border: none;
    cursor: pointer;
    color: #770000;
    font-size: 18px;
    font-weight: 500;
}

/* Contenido desplegable */
.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 230px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.25);
    z-index: 1000;
}

/* Links del dropdown */
.dropdown-content a{
    display: block;
    padding: 12px 15px;
    color: #770000;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: #f2f2f2;
}

/* Mostrar dropdown */
.dropdown:hover .dropdown-content{
    display: block;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px){
    header{
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .menu{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .titulo{
        font-size: 28px;
    }
}

/*=== Footer==*/
.footer{
    background-color: #770000;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.footer-contenido{
    max-width: 1200px;
    margin: 0 0;
}

.footer-texto{
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.footer-redes{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 15px;
}

.footer-redes img{
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1); /* iconos blancos */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-redes img:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.footer-copy{
    font-size: 14px;
    opacity: 0.85;
}