/* Contenedor principal de la lectura */
.contenedor {
    max-width: 850px;
    margin: 10px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}


.img-principal {
    width: 100%;
    max-height: 500px;
    object-fit: cover; 
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* Estilo del Autor */
.autor-nota {
    text-align: right;
    color: #555;
    font-size: 0.9rem;
    border-bottom: 2px solid #770000;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/* Tipografía de la nota */
.contenido h1 {
    color: #770000;
    font-size: 2.8rem;
    margin-bottom: 25px;
    line-height: 1.2;
}

.contenido p {
    font-size: 1.15rem;
    line-height: 1.8; /* Espacio entre líneas*/
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
}


.contenido p:first-of-type {
    font-weight: 500;
    color: #000;
}