/* =======================
   ESTILO PARA NOTICIA COMPLETA
   ======================= */

/* Contenedor principal */
.contenedor {
    max-width: 850px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0dda0;
    border-radius: 12px;
    border: 1px solid #ddd;
}

/* Imagen principal */
.img-principal {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Autor y fecha */
.autor-nota {
    display: block;
    text-align: right;
    
    font-size: 1.9rem;
    color: #555;
    border-bottom: 2px solid #770000;
    padding-bottom: 8px;
    margin-bottom: 25px;
}

/* Título de la noticia */
.contenido h1 {
    color: #770000;
    font-size: 2.4rem;
    margin-bottom: 20px;
    line-height: 1.3;
}

/* Subtítulos */
.contenido h2 {
    font-size: 1.4rem;
    color: #880e0e;
    margin: 30px 0 15px;
}

/* Párrafos */
.contenido p {
    font-size: 1.7rem;

    line-height: 1.7;
    color: #333;
    margin-bottom: 18px;
    text-align: justify;
}
.p_normal{
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1.7;
    color: #333;
    margin-bottom: 18px;
    text-align: justify;
}

/* Primer párrafo destacado */
.contenido p:first-of-type {
    font-weight: bold;
    color: #000;
}

/* Listas */
.contenido ul {
    margin-left: 25px;
    margin-bottom: 20px;
}

.contenido li {
    margin-bottom: 8px;
}

/* Enlaces */
.contenido a {
    color: #770000;
    text-decoration: underline;
}

.contenido a:hover {
    text-decoration: none;
}

/* Imágenes dentro del contenido */
.contenido img {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    display: block;
}

/*Si quieren poner varias imagenes hasta arriba*/
.galeria {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    justify-content: center;
}

.galeria img {
    width: 50%;
    border-radius: 10px;

}


/* Responsive */
@media (max-width: 768px) {
    .contenedor {
        padding: 15px;
    }

    .contenido h1 {
        font-size: 1.9rem;
    }

    .contenido p {
        font-size: 1rem;
    }

    .galeria {
        flex-direction: column;
    }

    .galeria img {
        width: 100%;
    }
}
